name: determine-changes

on:
  workflow_call:
    inputs:
      base_sha:
        type: string
        required: true
    outputs:
      count:
        value: ${{ jobs.determine.outputs.count }}
      matrix:
        value: ${{ jobs.determine.outputs.matrix }}

jobs:
  determine:
    runs-on: ubuntu-latest
    outputs:
      count: ${{ steps.out.outputs.count }}
      matrix: ${{ steps.out.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - id: out
        shell: bash
        run: pnpm --filter @conservation-stream/internal-scripts run determine-changes
        env:
          SECRETS: ${{ toJSON(secrets) }}
